/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
  background-color: #0b192f;
  max-width: 1400px;
  margin: auto;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */
.navigation-menu a {
   color: #fff;
   text-decoration: none;
   font-weight: 500;
   padding: 0 20px;
}
.navigation-menu nav {
  background-color: #024161;
  display: flex;
  padding: 20px 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navigation-menu .nav-brand a {
  font-size: 2.4em;
  font-weight: lighter;
}

.nav-brand span {
  color: #ff127c;
}

.navigation-menu .menu {
  padding-right: 40px;
  display: flex;
  align-items: center;
}

header {
  background-image: url(../img/post0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.header-text  {
  width: 60%;
  padding: 0 0 30px 45px;
}

.header-text h2 {
  font-size: 3.5em;
  font-weight: lighter;
  margin-bottom: 20px;
}

.header-text  p {
  line-height: 1.5;
  font-weight: normal;
}
