@mixin style-of-button {
  font-family: $headingFont;
  border: none;
  font-size: 14px;
  padding: 8px 35px;
  border-radius: 3px;
  letter-spacing: 0.1mm;
  background-color: $buttonBackground;
}

@mixin links {
  color: #fff;
  font-weight: 600;
  font-family: $headingFont;
}

body {
  margin: 0;
  background-color: $bodyBackground;
}

.header {
  background-image: $headerBackground;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 700px 230px;

  .header-wrap {
    padding: 5px 0 150px 145px;

    .landing-logo {
      position: relative;
      padding-top: 15px;
      img {
        display: inline;
        width: 38px;
      }

      p {
        position: absolute;
        display: inline;
        font-size: 1.2em;
        font-family: $textFont;
        font-weight: bold;
        left: 50px;
        bottom: -14px;
        line-height: 1.4;
        letter-spacing: 0.2mm;
        color: $headerTextColour;

        span {
          display: block;
          font-size: 0.45em;
          letter-spacing: 0.08mm;
          text-align: center;
          color: $headerTextColour;
        }
      }
    }

    .header_heading {
      width: 30%;
      line-height: 1.1;
      font-size: 3.5em;
      font-weight: bold;
      margin: 50px 0 30px;
      font-family: $headingFont;
      position: relative;
      z-index: 1000;
      color: $headerTextColour;

      &::after {
        content: "";
        background-color: $textBackground;
        width: 237px;
        height: 40px;
        position: absolute;
        left: -1px;
        bottom: 7px;
        z-index: -1;
      }
    }

    .header_text {
      font-family: $textFont;
      font-size: 13px;
      line-height: 1.5;
      white-space: pre-line;
      letter-spacing: 0.05mm;
      width: 50%;
      color: $headerTextColour;
    }

    .header_button {
      @include style-of-button;
      margin-top: 36px;
    }

    .login {
      margin-left: 120px;
      @include links;
      font-weight: bold;
      color: #fff;
    }
  }
}

.section {
  text-align: center;

  .section_text {
    font-weight: 600;
    font-family: $headingFont;
    color: $headerTextColour;
    font-size: 2em;
    position: relative;
    z-index: 1000;

    &::after {
      content: "";
      position: absolute;
      width: 142px;
      height: 30px;
      bottom: 7px;
      right: 610px;
      background-color: $textBackground;
      z-index: -1;
    }
  }

  .section_card {
    background-color: $cardColour;
    width: 55%;
    margin: 20px auto 20px;;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 5px;
    color: #fff;

    .section_card_img {
      padding: 10px;
      border-radius: 15px;
      width: 335px;
    }

    .section_card_heading {
      font-family: $headingFont;
      font-weight: 600;
      font-size: 20px;
      padding: 17px 0 15px;
    }

    .section_card_text {
      font-size: 12px;
      text-align: justify;
      color: #C0C3CE;
      padding-bottom: 20px;
      width: 67%;
      font-weight: 400;
      margin: auto;
      font-family: $textFont;
    }

    .section_link {
      @include links;
      font-size: 12px;
      color: #C0C3CE;
    }
  }
}
