$font-weights: ("regular": 400, "medium": 600, "bold": 700);
@mixin style-of-button {
  font-family: $headingFont;
  border: none;
  font-size: 14px;
  padding: 8px 35px;
  border-radius: 3px;
  letter-spacing: 0.1mm;
  background-color: $buttonBackground;
  font-weight: map-get($map:$font-weights, $key:"medium");
  color: #fff;
}
@mixin links {
  color: #fff;
  font-weight: 600;
  font-family: $headingFont;
}
@mixin logo ($color) {
  position: relative;

  img {
    display: inline;
    width: 38px;
  }

  p {
    position: absolute;
    display: inline;
    font-size: 1.2em;
    font-family: $textFont;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 0.2mm;
    color: $color;

    span {
      display: block;
      font-size: 0.45em;
      letter-spacing: 0.08mm;
      text-align: center;
      color: $color;
    }
  }
}

body {
  margin: 0;
  background-color: $bodyBackground;
}

.header {
  background-image: $headerBackground;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 700px 230px;

  .header-wrap {
    padding: 5px 0 150px 145px;

    .landing-logo {
      @include logo($headerTextColour);
      padding-top: 15px;

      p {
        left: 50px;
        bottom: -14px;
      }
    }

    .header_heading {
      width: 30%;
      line-height: 1.1;
      font-size: 3.5em;
      font-weight: bold;
      margin: 50px 0 30px;
      font-family: $headingFont;
      position: relative;
      z-index: 1000;
      color: $headerTextColour;

      &::after {
        content: "";
        background-color: $textBackground;
        width: 237px;
        height: 40px;
        position: absolute;
        left: -1px;
        bottom: 7px;
        z-index: -1;
      }
    }

    .header_text {
      font-family: $textFont;
      font-size: 13px;
      line-height: 1.5;
      white-space: pre-line;
      letter-spacing: 0.05mm;
      width: 50%;
      color: $headerTextColour;
    }

    .header_button {
      @include style-of-button;
      margin-top: 36px;
    }

    .login {
      margin-left: 120px;
      @include links;
      font-weight: bold;
      color: #fff;
    }
  }
}

.section {
  text-align: center;

  .section_text {
    font-weight: 600;
    font-family: $headingFont;
    color: $headerTextColour;
    font-size: 2em;
    position: relative;
    z-index: 1000;

    &::after {
      content: "";
      position: absolute;
      width: 142px;
      height: 30px;
      bottom: 7px;
      right: 610px;
      background-color: $textBackground;
      z-index: -1;
    }
  }

  .section_card {
    background-color: $cardColour;
    width: 55%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 5px;
    color: #fff;

    .section_card_img {
      padding: 10px;
      border-radius: 15px;
      width: 335px;
    }

    .section_card_heading {
      font-family: $headingFont;
      font-weight: 600;
      font-size: 20px;
      padding: 17px 0 15px;
    }

    .section_card_text {
      font-size: 12px;
      text-align: justify;
      color: #C0C3CE;
      padding-bottom: 20px;
      width: 67%;
      font-weight: 400;
      margin: auto;
      font-family: $textFont;
    }

    .section_link {
      @include links;
      font-size: 12px;
      color: #C0C3CE;
    }
  }

  .section_banner {
    width: 60%;
    position: relative;
    margin: 50px auto auto;
    border-radius: 5px;
    display: flex;
    bottom: -52px;
    background: linear-gradient(49deg, $leftGradient 15%, $rightGradient 84%);

    .section_banner_button {
      @include style-of-button;
      margin: auto;
    }

    .section_banner_text_wrap {
      margin: auto;
      text-align: left;
      line-height: 0.7;

      .section_banner_heading {
        font-family: $headingFont;
        color: $headerTextColour;
        font-weight: bold;
        font-size: 23px;
        position: relative;
        z-index: 1000;

        &::after {
          content: "";
          width: 49px;
          height: 30px;
          background-color: $textBackground;
          position: absolute;
          left: 93px;
          z-index: -1;
          bottom: -4px;
        }
      }

      .section_banner_text {
        font-family: $textFont;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        padding-bottom: 20px;
      }
    }
  }
}

.footer {
  background-color: $cardColour;
  z-index: -1;

  .footer-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 90px 40px 20px;

    .footer_logo {
      @include logo(#fff);
      padding-left: 90px;

      p {
        bottom: -2px;
      }

      img {
        padding-right: 10px;
        padding-top: 10px;
      }
    }

    .footer_text {
      color: #C0C3CE;
      font-family: $textFont;
      font-size: 12px;
      padding: 0 110px;
    }

    .footer-cr {
      @extend .section;
      color: #C0C3CE;
      font-family: $headingFont;
      font-size: 14px;
      padding-top: 20px;
    }
  }
}
