$textBackground: #FF4E33;
$buttonBackground: #E3AC00;
$headerTextColour: #fff;
$headerBackground: url(../img/m-h-night.jpg);
$bodyBackground: #21232E;
$headingFont: 'Source Sans Pro', sans-serif;;
$textFont: 'Fresca', sans-serif;
$cardColour: #3B3F50;
