$textBackground: #14A0C7;
$buttonBackground: #699900;
$headerTextColour: #2C2F3C;
$headerBackground: url(../img/m-h-day.jpg);
$bodyBackground: #fff;
$headingFont: 'Source Sans Pro', sans-serif;
$textFont: 'Hind', sans-serif;
$cardColour: #21232E;
$leftGradient:  rgba(101,149,15,1);
$rightGradient: rgba(49,95,201,1);
